 

<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="User ID" formControlName="user">
         
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="pw">
         
      </mat-form-field>
      <button mat-raised-button color="primary">Log In</button>
    </form>
  </mat-card-content>
</mat-card>
