<mat-card>
  <mat-card-content>
    <form >
      <h2>Change Password</h2>
      <!-- <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="구암호"  #oldpw>         
      </mat-form-field> -->
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="New password" #newpw>       
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password confirm" #confirmpw>       
      </mat-form-field>      
      <button mat-raised-button color="primary" (click)="onSubmit( newpw.value, confirmpw.value)">Submit</button>
       
    </form>
  </mat-card-content>
</mat-card>
