<div class="main">

  <div class="container main-box">

    <form  clrForm [formGroup]="cktGroup"> 
      <div  class="container">
          <div class="tabs">
            <mat-tab-group>
              <mat-tab label="BaseInfo"  class="baseinfo">
                <div class="infobox">
                   <mat-form-field appearance="legacy" class="item">
                     <mat-label>Camera ID</mat-label>
                     <input matInput placeholder="1" formControlName="cameraID">
                   </mat-form-field>

                   <mat-form-field appearance="legacy"  class="item">
                     <mat-label>Camera Model</mat-label>
                     <input matInput placeholder="ms_mini" formControlName="cameraModel">  
                   </mat-form-field>

                   <mat-form-field appearance="legacy"  class="item">
                     <mat-label>Camera Serial Number</mat-label>
                     <input matInput placeholder="1423593456" formControlName="cameraserialNum">   
                   </mat-form-field>

                   <mat-form-field appearance="legacy"  class="item">
                     <mat-label>Camera Install Date</mat-label>
                     <input matInput placeholder="20201120" formControlName="cameraInstallDate">  
                   </mat-form-field>                   

                   <mat-form-field appearance="legacy"  class="item">
                     <mat-label>Camer Use YN</mat-label>
                     <mat-select formControlName="cameraUseyn">
                       <mat-option value="0">Yes</mat-option>
                       <mat-option value="1">No</mat-option>
                     </mat-select>
                   </mat-form-field>
                </div>
              </mat-tab>
              <mat-tab label="LocationInfo">
               <div class="infobox">
                 <mat-form-field appearance="legacy" class="item">
                   <mat-label>Site ID</mat-label>
                   <input matInput placeholder="site" formControlName="siteID">
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Block ID</mat-label>
                   <input matInput placeholder="block" formControlName="blockID">        
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Zone ID</mat-label>
                   <input matInput placeholder="zone" formControlName="groupID">   
                 </mat-form-field>
              </div>                 
              </mat-tab>
              <mat-tab label="NetworkInfo">
               <div class="infobox">
                 <mat-form-field appearance="legacy" class="item">
                   <mat-label>Host IP</mat-label>
                   <input matInput placeholder="127.0.0.1" formControlName="localIP">
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Local Port ir</mat-label>
                   <input matInput placeholder="5555" formControlName="localPortIr">  
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Local port rtsp</mat-label>
                   <input matInput placeholder="8868" formControlName="localPortRtsp">   
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Netmask</mat-label>
                   <input matInput placeholder="255.255.255.0" formControlName="netmask">  
                 </mat-form-field>                   

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Gateway</mat-label>
                   <input matInput placeholder="0.0.0.0" formControlName="gateway"> 
                 </mat-form-field>
              </div>                 
              </mat-tab>
              <mat-tab label="HostInfo">
               <div class="infobox">
                 <mat-form-field appearance="legacy" class="item">
                   <mat-label>Host ip recon</mat-label>
                   <input matInput placeholder="192.168.100" formControlName="hostIpRecon">
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Host port recon</mat-label>
                   <input matInput placeholder="8866" formControlName="hostPortRecon">  
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Host ip cloud</mat-label>
                   <input matInput placeholder="192.168.1.200" formControlName="hostIpCloud">   
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Host port cloud</mat-label>
                   <input matInput placeholder="0000" formControlName="hostPortCloud">  
                 </mat-form-field>                   

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Host ip mqtt</mat-label>
                   <input matInput placeholder="192.168.1.100" formControlName="hostIpMqtt"> 
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Host port mqtt</mat-label>
                   <input matInput placeholder="8869" formControlName="hostportMqtt">  
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>mqtt user id</mat-label>
                   <input matInput placeholder="ctk_user" formControlName="mqttUserId">   
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>mqtt password</mat-label>
                   <input matInput placeholder="ctk_user" formControlName="mqttPassword">  
                 </mat-form-field>                   

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>Mqtt pub topic</mat-label>
                   <input matInput placeholder="camera/test1" formControlName="mqttPubTopic"> 
                 </mat-form-field>

              </div>  

              </mat-tab>
              <mat-tab label="ParameterInfo">
               <div class="infobox">
                 <mat-form-field appearance="legacy" class="item">
                   <mat-label>flag op mode</mat-label>
                   <mat-select formControlName="flagOpMode">
                    <mat-option value="0">Yes</mat-option>
                    <mat-option value="1">No</mat-option>
                  </mat-select>                   
                 </mat-form-field>

                 
                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>flag face temperature</mat-label>
                   <mat-select formControlName="flagFaceTemperature">
                    <mat-option value="0">Yes</mat-option>
                    <mat-option value="1">No</mat-option>
                  </mat-select>                    
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>flag face mask</mat-label>
                   <mat-select formControlName="flagFaceMask">
                    <mat-option value="0">Yes</mat-option>
                    <mat-option value="1">No</mat-option>
                  </mat-select>                   
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>flag recognition</mat-label>
                   <mat-select formControlName="flagRecognition">
                    <mat-option value="0">Yes</mat-option>
                    <mat-option value="1">No</mat-option>
                  </mat-select>                    
                 </mat-form-field>                   

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>flag liveness</mat-label>
                   <mat-select formControlName="flagLiveness">
                    <mat-option value="0">Yes</mat-option>
                    <mat-option value="1">No</mat-option>
                  </mat-select>                   
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>threshold</mat-label>
                   <input matInput placeholder="0.9" formControlName="threshold">  
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>lou threshold</mat-label>
                   <input matInput placeholder="0.4" formControlName="iou_threshold">   
                 </mat-form-field>

              </div>

              </mat-tab>
              <mat-tab label="MargineInfo">
               <div class="infobox">
                 <mat-form-field appearance="legacy" class="item">
                   <mat-label>margin x</mat-label>
                   <input matInput placeholder="100" formControlName="marginX">
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>margin y</mat-label>
                   <input matInput placeholder="80" formControlName="marginY">        
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>scale x</mat-label>
                   <input matInput placeholder="0.52" formControlName="scaleX">   
                 </mat-form-field>

                 <mat-form-field appearance="legacy"  class="item">
                   <mat-label>scale y</mat-label>
                   <input matInput placeholder="0.48" formControlName="scaleY">   
                 </mat-form-field>                  
              </div>                    
              </mat-tab>
              <mat-tab label="FaceMinSizeInfo">
                <div class="infobox">
                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>face min size</mat-label>
                    <input matInput placeholder="40" formControlName="faceMinSize">   
                  </mat-form-field>                  
                </div>                 
              </mat-tab>
            </mat-tab-group>
          </div>
        
        <div  class="btn-group">
          <div>
           <button mat-raised-button color="primary"
            (click)="submit()">Save</button>
          </div>
          <div>
            &nbsp;&nbsp;
          </div>
          <div>                                 <!--  추가-->
           <button mat-stroked-button color="primary" (click)='reboot()'>Initialize</button>
          </div>
          <div>
            &nbsp;&nbsp;
          </div>          
          <div>
            <button mat-stroked-button color="primary" (click)='logout()'>Logout</button>
          </div>
          
        </div>
      </div>

    </form>

  </div>
</div>
