 
<router-outlet></router-outlet>
 <!--
<div class="main">
   <div class="container main-box">

     <form  clrForm [formGroup]="cktGroup"> 
       <div  class="container">
           <div class="tabs">
             <mat-tab-group>
               <mat-tab label="BaseInfo"  class="baseinfo">
                 <div class="infobox">
                    <mat-form-field appearance="legacy" class="item">
                      <mat-label>Camera ID</mat-label>
                      <input matInput placeholder="1" formControlName="cameraID">
                    </mat-form-field>

                    <mat-form-field appearance="legacy"  class="item">
                      <mat-label>Camera Model</mat-label>
                      <input matInput placeholder="ms_mini" formControlName="cameraModel">  
                    </mat-form-field>

                    <mat-form-field appearance="legacy"  class="item">
                      <mat-label>Camera Serial Number</mat-label>
                      <input matInput placeholder="1423593456" formControlName="cameraSerialNumber">   
                    </mat-form-field>

                    <mat-form-field appearance="legacy"  class="item">
                      <mat-label>Camera Install Date</mat-label>
                      <input matInput placeholder="20201120" formControlName="cameraInstallDate">  
                    </mat-form-field>                   

                    <mat-form-field appearance="legacy"  class="item">
                      <mat-label>Camer Use YN</mat-label>
                      <input matInput placeholder="0: yes, 1: no" 
                      formControlName="cameraUseYN"
                      [matAutocomplete]="camerause"> 
                      <mat-autocomplete autoActiveFirstOption #camerause="matAutocomplete">
                        <mat-option value="0">Y</mat-option>
                        <mat-option value="1">N</mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                 </div>
               </mat-tab>
               <mat-tab label="LocationInfo">
                <div class="infobox">
                  <mat-form-field appearance="legacy" class="item">
                    <mat-label>Site ID</mat-label>
                    <input matInput placeholder="site" formControlName="siteID">
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Block ID</mat-label>
                    <input matInput placeholder="block" formControlName="blockID">        
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Zone ID</mat-label>
                    <input matInput placeholder="zone" formControlName="zoneID">   
                  </mat-form-field>
               </div>                 
               </mat-tab>
               <mat-tab label="NetworkInfo">
                <div class="infobox">
                  <mat-form-field appearance="legacy" class="item">
                    <mat-label>Host IP</mat-label>
                    <input matInput placeholder="127.0.0.1" formControlName="localIP">
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Local Port ir</mat-label>
                    <input matInput placeholder="5555" formControlName="ocalPortIR">  
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Local port rtsp</mat-label>
                    <input matInput placeholder="8868" formControlName="localPortRTSP">   
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Netmask</mat-label>
                    <input matInput placeholder="255.255.255.0" formControlName="netmask">  
                  </mat-form-field>                   

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Gateway</mat-label>
                    <input matInput placeholder="0.0.0.0" formControlName="gateway"> 
                  </mat-form-field>
               </div>                 
               </mat-tab>
               <mat-tab label="HostInfo">
                <div class="infobox">
                  <mat-form-field appearance="legacy" class="item">
                    <mat-label>Host ip recon</mat-label>
                    <input matInput placeholder="192.168.100" formControlName="hostIpRecon">
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Host port recon</mat-label>
                    <input matInput placeholder="8866" formControlName="hostPortRecon">  
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Host ip cloud</mat-label>
                    <input matInput placeholder="192.168.1.200" formControlName="hostIpCloud">   
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Host port cloud</mat-label>
                    <input matInput placeholder="0000" formControlName="hostPortCloud">  
                  </mat-form-field>                   

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Host ip mqtt</mat-label>
                    <input matInput placeholder="192.168.1.100" formControlName="hostIpMqtt"> 
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Host port mqtt</mat-label>
                    <input matInput placeholder="8869" formControlName="hostportMqtt">  
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>mqtt user id</mat-label>
                    <input matInput placeholder="ctk_user" formControlName="mqttUserID">   
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>mqtt password</mat-label>
                    <input matInput placeholder="ctk_user" formControlName="mqttPassword">  
                  </mat-form-field>                   

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>Mqtt pub topic</mat-label>
                    <input matInput placeholder="camera/test1" formControlName="mqttPubTopic"> 
                  </mat-form-field>

               </div>  

               </mat-tab>
               <mat-tab label="ParameterInfo">
                <div class="infobox">
  

                  <mat-form-field appearance="legacy" class="item">
                    <mat-label>flag op mode</mat-label>
                    <input matInput placeholder="0" formControlName="flagOpMode"
                    [matAutocomplete]="flagopmode">
                    <mat-autocomplete autoActiveFirstOption  #flagopmode="matAutocomplete">
                       <mat-option value="0">Yes</mat-option>
                       <mat-option value="1">No</mat-option>
                    </mat-autocomplete>
 
 
                  </mat-form-field>

                  
                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>flag face temperature</mat-label>
                    <input matInput placeholder="0" 
                    formControlName="flagFaceTemperature"
                    [matAutocomplete]="flagfacetemperature"> 
                    <mat-autocomplete autoActiveFirstOption #flagfacetemperature="matAutocomplete">
                       <mat-option value="0">0</mat-option>
                       <mat-option value="36.1">36.1&#176;C</mat-option>
                       <mat-option value="36.2">36.2&#176;C</mat-option>
                       <mat-option value="36.3">36.3&#176;C</mat-option>
                       <mat-option value="36.4">36.4&#176;C</mat-option>
                       <mat-option value="36.5">36.5&#176;C</mat-option>
                       <mat-option value="36.6">36.6&#176;C</mat-option>
                       <mat-option value="36.7">36.7&#176;C</mat-option>
                       <mat-option value="36.8">36.8&#176;C</mat-option>
                       <mat-option value="36.9">36.9&#176;C</mat-option>

                    </mat-autocomplete> 
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>flag face mask</mat-label>
                    <input matInput placeholder="0: Yes, 1: No" formControlName="flagFaceMask"
                    [matAutocomplete]="flagfacemask"> 
                    <mat-autocomplete autoActiveFirstOption #flagfacemask="matAutocomplete">
                      <mat-option value="0">Yes</mat-option>
                      <mat-option value="1">No</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>flag recognition</mat-label>
                    <input matInput placeholder="0: Yes, 1: No" formControlName="flagRecognition"
                    [matAutocomplete]="flagrecognition">
                    <mat-autocomplete autoActiveFirstOption #flagrecognition="matAutocomplete">
                      <mat-option value="0">Yes</mat-option>
                      <mat-option value="1">No</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>                   

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>flag liveness</mat-label>
                    <input matInput placeholder="0: Yes, 1: No" formControlName="flagLiveness"
                    [matAutocomplete]="flagliveness"> 
                    <mat-autocomplete  autoActiveFirstOption #flagliveness="matAutocomplete">
                      <mat-option value="0">Yes</mat-option>
                      <mat-option value="1">No</mat-option>                     
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>threshold</mat-label>
                    <input matInput placeholder="0.9" formControlName="threshold">  
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>lou threshold</mat-label>
                    <input matInput placeholder="0.4" formControlName="iouThreshold">   
                  </mat-form-field>

               </div>

               </mat-tab>
               <mat-tab label="MargineInfo">
                <div class="infobox">
                  <mat-form-field appearance="legacy" class="item">
                    <mat-label>margin x</mat-label>
                    <input matInput placeholder="100" formControlName="marginX">
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>margin y</mat-label>
                    <input matInput placeholder="80" formControlName="marginY">        
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>scale x</mat-label>
                    <input matInput placeholder="0.52" formControlName="scaleX">   
                  </mat-form-field>

                  <mat-form-field appearance="legacy"  class="item">
                    <mat-label>scale y</mat-label>
                    <input matInput placeholder="0.48" formControlName="scaleY">   
                  </mat-form-field>                  
               </div>                    
               </mat-tab>
               <mat-tab label="FaceMinSizeInfo">
                <mat-form-field appearance="legacy"  class="item">
                  <mat-label>face min size</mat-label>
                  <input matInput placeholder="40" formControlName="faceMinSize">   
                </mat-form-field>                  
               </mat-tab>
             </mat-tab-group>
           </div>
         
         <div  class="btn-group">
           <div>
            <button mat-raised-button color="primary"
             (click)="submit()">Send</button>
           </div>
           <div>
             &nbsp;&nbsp;
           </div>
           <div>                             
            <button mat-stroked-button color="primary" (click)='reboot()'>System</button>
           </div>
           
         </div>
       </div>

     </form>

   </div>
 </div>

  -->
 

  
    
